app: oldreddit
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: oldReddit
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details

provider:
  name: aws
  runtime: nodejs20.x
  # you can overwrite defaults here
  profile: default
  stage: production
  region: us-west-1
  apiGateway:
    minimumCompressionSize: 1024
  environment:
    NODE_ENV: ${opt:stage, 'production'}
    REDIS_PASSWORD: ${env:REDIS_PASSWORD}
    SECRET_OR_KEY: ${env:SECRET_OR_KEY}

  # you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:ListStreams
        - dynamodb:DescribeStream
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:DescribeTable
        - dynamodb:UpdateTable
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/Users
        - arn:aws:dynamodb:${self:provider.region}:*:table/Users/index/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/SubReddits
        - arn:aws:dynamodb:${self:provider.region}:*:table/SubReddits/index/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/Posts
        - arn:aws:dynamodb:${self:provider.region}:*:table/Posts/index/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/Comments
        - arn:aws:dynamodb:${self:provider.region}:*:table/Comments/index/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/Comments/stream/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/Votes
        - arn:aws:dynamodb:${self:provider.region}:*:table/Votes/index/*
        - arn:aws:dynamodb:${self:provider.region}:*:table/Votes/stream/*
        # - arn:aws:dynamodb:ddblocal:*:table/Comments
        # - arn:aws:dynamodb:ddblocal:*:table/Comments/stream/*
        # - arn:aws:dynamodb:ddblocal:*:table/Votes
        # - arn:aws:dynamodb:ddblocal:*:table/Votes/stream/*

package:
  individually: true
  exclude: frontend/**

custom:
  esbuild:
    bundle: true
    minify: false
    target: node20
  serverless-offline-dynamodb-streams:
    endpoint: http://0.0.0.0:8000
  serverless-dynamodb:
    stages:
      - development
    start:
      docker: true
      dockerImage: amazon/dynamodb-local
      port: 8000
      sharedDb: true
      inMemory: false # Set to false if you want persistent storage
      noStart: true
      heapInitial: 200m
      heapMax: 1g
      migrate: true # Automatically create tables on start         s
  serverless-offline:
    port: 5000
    noPrependStageInUrl: true
  cors: &cors
    origin: 'https://wrote-it.netlify.app'
    headers:
      - Content-Type
      - Authorization
    allowCredentials: true
    methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS

functions:
  signup:
    handler: routes/api/auth/signup.handler
    events:
      - http:
          path: api/users/signup
          method: post
          cors: *cors
  login:
    handler: routes/api/auth/login.handler
    events:
      - http:
          path: api/users/login
          method: post
          cors: *cors
  current:
    handler: routes/api/auth/current.handler
    events:
      - http:
          path: api/users/current
          method: get
          cors: *cors
  createSubReddit:
    handler: routes/api/subs/create.handler
    events:
      - http:
          path: api/subReddits
          method: post
          cors: *cors
  getAllSubReddits:
    handler: routes/api/subs/readAll.handler
    events:
      - http:
          path: api/subReddits
          method: get
          cors: *cors
  vote:
    handler: routes/api/vote.handler
    events:
      - http:
          path: api/votes
          method: post
          cors: *cors
  getAllPosts:
    handler: routes/api/posts/readAll.handler
    events:
      - http:
          path: api/posts
          method: get
          cors: *cors
  getOnePost:
    handler: routes/api/posts/readOne.handler
    events:
      - http:
          path: api/posts/{id}
          method: get
          cors: *cors
  createPost:
    handler: routes/api/posts/create.handler
    events:
      - http:
          path: api/posts
          method: post
          cors: *cors
  createComment:
    handler: routes/api/comments/create.handler
    events:
      - http:
          path: api/comments
          method: post
          cors: *cors
  getAllComments:
    handler: routes/api/comments/readAll.handler
    events:
      - http:
          path: api/comments
          method: get
          cors: *cors
  getReplies:
    handler: routes/api/comments/readReplies.handler
    events:
      - http:
          path: api/comments/{commentId}/replies
          method: get
          cors: *cors
  updateNetUpvotes:
    handler: taskrunners/updateNetUpvotes.handler
    events:
      - stream:
          enabled: true
          type: dynamodb
          arn:
            - arn:aws:dynamodb:us-west-1:034362062339:table/Votes/stream/2024-11-09T21:19:31.071
              # Fn::GetAtt: [VoteDynamoDBTable, StreamArn]
          batchSize: 1
          startingPosition: LATEST
  updateReplyCount:
    handler: taskrunners/updateReplyCount.handler
    events:
      - stream:
          enabled: true
          type: dynamodb
          arn:
            - arn:aws:dynamodb:us-west-1:034362062339:table/Comments/stream/2024-11-11T05:08:56.344
            # Fn::GetAtt: [CommentDynamoDBTable, StreamArn]
          batchSize: 1
          startingPosition: LATEST

plugins:
  - serverless-esbuild
  - serverless-dynamodb
  - serverless-offline-dynamodb-streams
  - serverless-offline
resources:
  Resources:
    GatewayResponseDefault4XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        RestApiId:
          Ref: ApiGatewayRestApi
        ResponseType: DEFAULT_4XX
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'https://wrote-it.netlify.app'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,DELETE,OPTIONS'"
        StatusCode: '400'

    GatewayResponseDefault5XX:
      Type: AWS::ApiGateway::GatewayResponse
      Properties:
        RestApiId:
          Ref: ApiGatewayRestApi
        ResponseType: DEFAULT_5XX
        ResponseParameters:
          gatewayresponse.header.Access-Control-Allow-Origin: "'https://wrote-it.netlify.app'"
          gatewayresponse.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
          gatewayresponse.header.Access-Control-Allow-Methods: "'GET,POST,PUT,DELETE,OPTIONS'"
        StatusCode: '500'
    ApiGatewayUsagePlan:
      Type: AWS::ApiGateway::UsagePlan
      Properties:
        UsagePlanName: MyUsagePlan
        Throttle:
          RateLimit: 10
          BurstLimit: 5
    # VoteDynamoDBTable:
    #   Type: AWS::DynamoDB::Table
    #   Properties:
    #     TableName: Votes
    #     AttributeDefinitions:
    #       - AttributeName: voteId
    #         AttributeType: S
    #     KeySchema:
    #       - AttributeName: voteId
    #         KeyType: HASH
    #     StreamSpecification:
    #       StreamViewType: NEW_AND_OLD_IMAGES
    # CommentDynamoDBTable:
    #   Type: AWS::DynamoDB::Table
    #   Properties:
    #     TableName: Comments
    #     AttributeDefinitions:
    #       - AttributeName: postId
    #         AttributeType: S
    #       - AttributeName: commentId
    #         AttributeType: S
    #     KeySchema:
    #       - AttributeName: postId
    #         KeyType: HASH
    #       - AttributeName: commentId
    #         KeyType: RANGE
    #     StreamSpecification:
    #       StreamViewType: NEW_IMAGE
