.post-show-container {
    position: relative;
    padding-top: 15px;
}

.post-comment-form-container {
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
}

.post-show {
    /* display: flex; */
    align-items: center;
    margin-bottom: 15px;
}
.post-vote {
    left: 0px;
    position: absolute;
}

.post-title {
    font-size: 16px;
    color: #551a8b;
}

.post-body {
    padding: 8px;
    margin-top: 10px;
    max-width: 50%;
    background-color: #fafafa;
    border: 1px solid #369;
    border-radius: 7px;
}

.author {
    color: #369;
    font-weight: bold;
}

.post-submitted-info {
    color: gray;
}