.post-link {
    color: #0000ff;
}

.link-container {
    margin-left: 10px;
}

.author {
    color: #369;
    font-weight: bold;
}

.post-submitted-info {
    color: gray;
}

.post-comment-count {
    color: gray;
    font-weight: bold;
}

.fa-link {
    font-size: 23px;
}