.vote-button {
    font-weight: bold;
    color: #c6c6c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.upVoted {
    color: orange;
}

.downVoted {
    color: rgb(137,137,255);
}